/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
@media only screen and (max-width: 500px){ }


html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
		display: block;
}


body {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;
overflow: auto;
}
ol, ul {
		list-style: none;
}

#left{
margin-left:15px;
font-family: 'Roboto', sans-serif; 
float:left;
font-size: 24x; 
color: #838994; 
letter-spacing: 0.03em;
	float:right;
}

.project li{
	font-weight: 600;
	color :#3333FF;
	padding-top: 60px;

}

b { color:#0066FF;

}
b:hover {
    color: #FF00FF;
  }

#page-wrap { 
  width: 600px; 
  margin: 15px auto; 
  position: relative; 
}

#left { 
  width: 190px; 
  position: fixed; 

}

p { color:#336699;
}
.icons {
display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a {
	border-style: solid;
    border-color: #0000ff;
}