/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */
.content {
    padding: 0 15px;
}
/* Navigation Section */
.top-navigation {
	border: 1px solid #eaebec;
position: fixed;
width: 100%;
z-index: 9999;
background-color: #fff;

}
.top-navigation > .content {

    margin: 0 auto;
    width: 1070px;
    height: 70px;
}
.top-navigation > .logo {
	padding: 0px 15px;
    height: 70px;
}
.links {

font-family: 'Roboto', sans-serif; 
font-size: 16px; 
color: #838994; 
letter-spacing: 0.03em;
	float:right;}

.links li { 
	float:left;}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 600;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
 
.introduction {
	color: white;
    background-image: url('http://i58.tinypic.com/13z1p5l.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}
h1 { 

  font-size: 48px;
-webkit-font-smoothing: antialiased;
  text-align:center;}
h2 {

  font-size: 40px;
  text-align:center;
-webkit-font-smoothing: antialiased;
}
h3 {

  font-size: 23px;
-webkit-font-smoothing: antialiased;
  text-align:center;
}
button {
	border-radius: 5px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:white;
background-color: #FF6600;
cursor: pointer;
}
.cases {
text-align:center;
width: 1070px;
margin-left: auto;
margin-right: auto;

}
.cases .devices {

	font-size: 25px;
	float: left;
    width: 33.3333333%;
    display: inline-block;

    height: 4em;
}
footer {

	
text-align:center;

}
.icons {
cursor: pointer;

    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
   
    padding: 0.625rem 0;
    text-align: center;

}
