@media (min-width: 601px) {
    .masthead {
      background-image: url('http://i59.tinypic.com/zpjyt.jpg');
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;   
      -o-background-size: cover !important;
      background-size: cover !important;
  }
​
}
​
@media (max-width: 600px) {
    p {
        font-size: 14px;
    }
}
}

.masthead {
  padding: 4em 0;
  border-top: solid 1em #FFCF33;
  background-image: url('http://i59.tinypic.com/zpjyt.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;


  height:250px;

}

.masthead-intro {  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 0.1em;
  text-align:center;
}

.masthead-heading {
  margin-top: -0.2em;
  text-align:center;
}


p {color: black;}
h1 {color: green;}
h2 {color: brown;}
h3 {color: #009933}

.introduction-section {  
  line-height: 100%;
  padding: 4em 0;
  padding-right: 100px;
  padding-left: 100px;
  background-image: url('http://i57.tinypic.com/312csiq.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;
  height: auto;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align:center;
  border-top: solid 1em #FFCF33;
  color: blue;
  
  
  }

.location-section { 
  
  background-image: url('http://i60.tinypic.com/opnsd5.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;
  padding: 2em 0;
  height: auto;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align:center;
  border-top: ridge 1em #33FFFF;
  color:green;
  padding-right:31%;
  padding-left:31%;
  background-repeat:2;
  
  
}

.questions-section {

  
  background-image: url('http://i58.tinypic.com/2dawymh.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;
  height: auto;
overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border-top: solid 1em red;
  color:red;
  padding-right:41%;
  padding-left:5%;
  }
.Dreamjob{
  padding-right:41%;
  padding-left:5%;
  background-image: url('http://i57.tinypic.com/qqpkdj.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;
 overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.music{
    padding-right:41%;
  padding-left:5%;
    background-image: url('http://i60.tinypic.com/igdy54.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;
overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.years{
      padding-right:41%;
  padding-left:5%;
    background-image: url('http://i59.tinypic.com/34rvl8j.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;
overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
}
.social > li {
    display: inline-block;
}
p1 { color:white}
